body{
    font-family: 'Hind', sans-serif;
font-family: 'Poppins', sans-serif;
}
.center-first{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 3px;
    background-image: url(images/donation13.jpg);
    
}
.text-c{
     margin-left:20%;
     margin-right:20%;
     
}
.color{
    color:white;
    margin-bottom: 140px;
}
.donate-now{
    background-image: linear-gradient(tomato,tomato);
    text-decoration: none;
    color: white;
    font-weight:700 ;
    padding: 8px 8px;
    border-radius: 10px;
    
}
.center-second{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 3px;
    margin-bottom: 120px;
}
.i-block{
    width: 100px;
    height: 100px; 
    padding: 20px;
    padding-top:20px;
    background-color:whitesmoke;
    
}
#second-block{
    width: 100px;
    height: 100px;
    padding: 22px;
    border: 2px solid tomato;
    background-color:rgba(226, 134, 118, 0.11);

}
.space {
    padding-bottom:5% ;
}
.space-block{
    padding-bottom: 5%;
}
.under-line{
text-decoration: underline;
text-underline-position:;
}
.center-trd{
    text-align: center;
    padding-right:15% ;
    padding-left: 15%;  
}

.flexiable-container{
    display: flex;
}
.one-trd-width{
    
}